<header class="navbar navbar-chords navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle navbar-toggler pull-right" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">ng2-bootstrap</a>
    </div>
    <nav class="hidden-xs hidden-xs-down">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="navbar-brand" role="button" [routerLink]="['Home']">G#</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['Top']">Top</a></li>
        <li class="nav-item"><a class="nav-link" href="#migration">Fresh</a></li>
        <li class="nav-item"><a class="nav-link" href="#migration">Artist</a></li>
        <li class="nav-item"><a class="nav-link" href="#migration">Learn</a></li>
      </ul>
    </nav>
    <nav class="visible-xs hidden-md-up">
      <ul class="nav nav-pills nav-stacked scrollable-menu collapse" aria-expanded="false" aria-hidden="true">
        <li class="nav-item"><a class="nav-link" href="#migration">Top</a></li>
        <li class="nav-item"><a class="nav-link" href="#migration">Fresh</a></li>
        <li class="nav-item"><a class="nav-link" href="#migration">Artist</a></li>
        <li class="nav-item"><a class="nav-link" href="#migration">Learn</a></li>
      </ul>
    </nav>
  </div>
</header>

